#
#SBATCH -N 1 -n 1 
#SBATCH --time=@@(S:MIT_WALL_CLOCK_LIMIT_SER)
@@(S:MIT_QUEUE_COMMENT)#SBATCH -p @@(S:MIT_QUEUE_SER)
#SBATCH --qos=@@(S:MIT_QUEUE_QOS)
@@(S:MIT_DEPENDENCY_COMMENT)#SBATCH --depend=@@(S:MIT_DEPENDENCY)
#SBATCH --export=MIT_RUNTIME_STEP=@@(S:MIT_STEP)
#SBATCH --account=OGS_prod100

