export PATH="@@(T:OPA_BINDIR):@@(T:OPA_SCRDIR):${PATH}"
export LD_LIBRARY_PATH="@@(T:OPA_LIBDIR):${LD_LIBRARY_PATH}"
_src_host="@@(T:OPA_HOME)/src/ENV/@@(T:OPA_HOSTNAME)"
if [[ -f "$_src_host" ]] ; then
  . "$_src_host"
fi
_env_host="@@(T:OPA_ETCDIR)/ENV/env.@@(T:OPA_HOSTNAME)"
if [[ -f "$_env_host" ]] ; then
  . "$_env_host"
fi
