export PATH="@@(T:MIT_BINDIR):@@(T:MIT_SCRDIR):${PATH}"
export LD_LIBRARY_PATH="@@(T:MIT_LIBDIR):${LD_LIBRARY_PATH}"
_src_host="@@(T:MIT_HOME)/src/ENV/@@(T:MIT_HOSTNAME)"
if [[ -f "$_src_host" ]] ; then
  . "$_src_host"
fi
_env_host="@@(T:MIT_ETCDIR)/ENV/env.@@(T:MIT_HOSTNAME)"
if [[ -f "$_env_host" ]] ; then
  . "$_env_host"
fi
